page-customer-sales-order {
  #customer-sales-filter,
  #customer-country-filter,
  #customer-sales-person-filter {
    ion-content {
      margin-top: 41px;
    }
    ion-footer {
      background-color: #fff;
      border-top: 1px solid #f0f0f0;
      bottom: -5px;
    }
    ion-footer button {
      margin-top: 0;
    }
  }
  .filter-container {
    margin-bottom: 30px;
    ion-input,
    ion-datetime {
      border-bottom: 1px solid #f0f0f0;
    }
    .buttons {
      padding-bottom: 10px;
      div {
        margin-top: 10px;
        height: 29px;
        width: 33%;
        min-width: 80px;
        color: #232326;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10px;
        float: left;
      }
      div span {
        height: 28px;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        line-height: 29px;
        background-color: #f0f0f0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .unchecked {
        border: 1px solid #f0f0f0;
        background: #f0f0f0;
        font-weight: normal;
      }
      .checked {
        border: 1px solid #004B7A;
        background: #ffffff;
        font-weight: normal;
        color: #004B7A;
      }
    }
  }
  .sort-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    ion-select {
      max-width: 100%;
      font-size: 16px;
      text-align: center;
    }
  }
  .list-container {
    .item {
      padding: 0;
      border-bottom: 1px solid #f0f0f0;
    }
    .item-header {
      font-weight: bold;
      line-height: 2em;
    }
    .item-header span {
      min-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      word-break: break-all;
    }
    .item-content {
      background-color: #f0f0f0;
    }
    .item-options {
      float: right;
      font-size: 1.5em;
    }
    .item-options>ion-icon {
      margin: 0 10px 0 5px;
    }
    .item-icon {
      font-size: 1.5em;
      margin: auto 0;
    }
    .item-field span {
      line-height: 2em;
      height: 2em;
      min-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      word-break: break-all;
    }
  }
}
